Package: net.zad0xsis.bbcurrency
Name: BBCurrency
Depends: firmware (>= 5.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome widget for the notification center!
Maintainer: Pablo Merino
Author: Pablo Merino
Section: Widgets
